<div [class]="last? 'main last' :'main'">
  <div class="icon">
    <img *ngIf="!iconIsLoading; else noImageFound"
         [@fadeIn]="transitionState"
         [alt]="user.fullname + ' profile Icon'"
         [src]="iconSrc">
    <ng-template #noImageFound>
      <img [src]="fallbackIcon" alt="User icon not found.">
    </ng-template>
  </div>
  <div class="details">
    <p class="name">{{user.fullname}}</p>
    <div class="spacer"></div>
    <p class="email">{{user.email}}</p>
    <!--    <p class="last-read">{{user.lastRead?.title || "N/D"}}</p>-->
  </div>
  <div class="login">
    <button (click)="submitLogin()" color="primary" mat-raised-button>Login</button>
  </div>
</div>
