<app-container-card width="70vw">
  <h2>Prova Tecnica Hastega</h2>
  <h4>Introduzione</h4>
  <div>
    Implementare una semplice applicazione web per gestire la propria libreria. Gli utenti possono aggiungere, modificare e rimuovere libri dalla
    propria libreria. Inoltre, ogni utente vuole tenere traccia del numero di letture per ogni libro.
  </div>
  <h4>Sviluppo Tecnico</h4>
  <div>
    La prova tecnica è stata sviluppata con le tecnologie richieste e in particolare:
    <ul>
      <li>Frontend
        <ul>
          <li>Angular CLI: 14.2.2</li>
          <li>Node: 18.8.0 (Unsupported)</li>
          <li>Package Manager: npm 8.19.1</li>
        </ul>
      </li>
      <li>Backend
        <ul>
          <li>Laravel Framework 9.31.0</li>
          <li>PHP 8.1.10</li>
        </ul>
      </li>
    </ul>
  </div>
</app-container-card>
