<app-container-card width="70vw">
  <section>
    <div class="icon">
      <img *ngIf="!iconIsLoading; else noImageFound"
           [@fadeIn]="transitionState"
           [alt]="bookInfo.title "
           [src]="iconSrc">
      <ng-template #noImageFound>
        <img [src]="fallbackIcon" alt="Copertina mancante">
      </ng-template>
    </div>
    <div class="details">
      <p class="title">{{bookInfo.title}}</p>
      <p class="author">Di <span>{{bookInfo.author}}</span></p>
      <p class="info-tecniche">
        <span>ISBN: {{bookInfo.isbn}}</span>
        <span>Numero di letture: {{bookInfo.numeroLetture}}</span></p>
      <div class="trama">
        <p>Trama:</p>
        <p>{{bookInfo.trama}}</p>
      </div>
      <p class="date">
        <span>Aggiunto in data {{bookInfo.dataAggiunta}}</span>
        <span *ngIf="bookInfo.dataRimozione">Rimosso in data {{bookInfo.dataRimozione}}</span>
      </p>
      <div class="justify-between">
        <button (click)="increaseCounter()" color="primary" mat-raised-button>Incrementa il contatore
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
        <button (click)="deleteBook()" *ngIf="bookInfo.dataRimozione === null" color="primary" mat-raised-button>Elimina il libro
          <fa-icon [icon]="faHeartCrack"></fa-icon>
        </button>
        <button (click)="insertBookAgain()" *ngIf="bookInfo.dataRimozione !== null" color="primary" mat-raised-button> Salva di nuovo il libro
          <fa-icon [icon]="faHeart"></fa-icon>
        </button>
      </div>
    </div>
  </section>
</app-container-card>
