/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
@import "./style/responsive.scss";
@import "./style/variables";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
  transition: color 250ms ease-in;

  &:hover {
    color: #4B8E6B;
  }
}


