section {
  width: 100%;

  mat-toolbar {
    gap: 1rem;

    .logo {
      display: flex;
      gap: 1rem;
      place-items: center;
      cursor: pointer;

      img {
        width: 2.5rem;
      }
    }

    div.desktop {
      margin-left: 2rem;
      display: flex;
      flex-direction: row;
      flex-grow: 1;

      .navigation {
        display: flex;
        gap: 1rem;
      }

      .spacer {
        flex: 1 1 auto;
      }
    }

    div.mobile {
      margin-left: auto;
    }
  }
}
