div.not-found {
  margin: auto;
  width: 70vw;
  text-align: center;

  div.header {
    width: fit-content;
    margin-inline: auto;
    border-bottom: 2px solid var(--primary);

    p:first-of-type {
      font-size: 3rem;
    }

    p:nth-of-type(2) {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }
  }
}
